*{
   margin: 0;
   padding: 0;
  
}
.container{
  height: 85vh;
   border: 2px solid black;
   margin-top: 60px;
}

.main{
   height: 60vh;
   width:80vw;
   border: 2px solid black;
   padding: 15px;
   margin: 10px;
} 
img{ 
   height: 50vh;
      width:30vw;
  align-items: center;
  margin-top: 20PX;
 }
 .sidebar{
   height: 50vh;
   font-size:large;
   text-align: center; 
   gap:20px;
   margin-top: 20px;
 }
 button{
    background-color: black;
    color:white;
    position: center;
 }
@media screen and (min-width:850px)and (max-width:1250px){
   img{
      height: 40vh;
      width:30vw;
      margin:10px;
   }
   .container{
      height:80vh;
       border: 2px solid black;
       width: 90vw;
       padding: 20px;
    } 
    .main{
      height: 55vh;          
      width:68vw;
      border: 2px solid black;
      margin: 10px;
   } 
   .sidebar{
      font-size:medium;
      text-align: center;
      margin:10px;

    }
    
}
@media screen and (min-width:690px)and (max-width:850px){
      img{
         height: 30vh;
         width:30vw;
      }
      .container{
         border: 2px solid black;
         margin: 20px;
         width: 9;
         height: 85vh;
         padding: 10px;
      }
      .main{
         height: 65vh;
         width:68vw;
         border: 2px solid black;
         margin: 10px;
      }
      .sidebar{
         height: 30vh;
         font-size:small;
         text-align: center;
       }
       button{
         position: center;
         padding: 0px;
         margin: 0px;
      }
   }
   @media  screen and (max-width:690px) {
              img{
            height: 30vh;
            width:30vw;
            margin-top: 10px;
            margin: 10px;
         }
      
      .container{
         height: 90vh;
         width: 80vw;
         margin: 20px;
      }
      .main{
     height: 70vh;
     width: 65vw;
     margin: 0px;
     padding: 0px;
          }
      .sidebar{
         font-size:small;
         text-align:left;
         padding: 0px;
         margin: 0px;
       }
     
   }
   